# PostgreSQL 설정
POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_PORT=

# Spring Boot 서버 설정
SPRING_PROFILES_ACTIVE=
SERVER_PORT=
JASYPT_ENCRYPTOR_PASSWORD=

# Nginx 설정
NGINX_PORT_3000=3000
NGINX_PORT_3001=3001
NGINX_PORT_3002=3002

